html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.scene {
    display: inline-block;
    margin: 40px 0;
    perspective: 1000px;
}

.card {
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.back {
    transform: rotateY(180deg);
}


.card-face {
    position: absolute;
    backface-visibility: hidden;
}